// Config inheritance options
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "master"
    generic_config_url = ""
}
inherit_generic_config()

manifest {
    name            = 'rvi-pipeline'
    author          = 'PAM Informatics'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/sanger-pathogens/pipelines/rvi-pipeline'
    description     = 'Meta rvi-pipeline including all processing steps'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = '1.0.6'
}

params {
    results_dir = "./nextflow_results"
    manifest = ""
    off_target_db = "/lustre/scratch127/pam/teams/team346/jw43/02_Study_7289_RVI-run47723and47726/1.0_RVI_run47723and47726_raw.fastq/47723_Illumina_NexteraPE/homo_sapiens"
    sequencer_source = "NexteraPE"
    trimmomatic_options = "ILLUMINACLIP:/lustre/scratch125/pam/teams/team216/sd28/adapter_research/adapter_fasta/nextseqPR_test.fasta:2:10:7:1 CROP:151 SLIDINGWINDOW:4:20 MINLEN:100"
    kneaddata_threads = 4
    publish_trimmed_reads = false

    // LSF options
    queue_size = 50
    submit_rate_limit = '50/2min'
}

// Helper functions
def inherit_generic_config() {
    config_url = params.generic_config_url ? params.generic_config_url : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    try {
        includeConfig "${config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}
