// Config inheritance options
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "master"
    generic_config_url = ""
}
inherit_generic_config()

manifest {
    name            = 'rvi-pipeline'
    author          = 'PAM Informatics'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/sanger-pathogens/pipelines/rvi-pipeline'
    description     = 'Meta rvi-pipeline including all processing steps'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = '1.0.6'
}

params {
    results_dir = "./nextflow_results"
    off_target_db = "/data/pam/software/RVI_DB/homo_sapiens"
    sequencer_source = "NexteraPE"
    trimmomatic_options = "ILLUMINACLIP:/lustre/scratch125/pam/teams/team216/sd28/adapter_research/adapter_fasta/nextseqPR_test.fasta:2:10:7:1 CROP:151 SLIDINGWINDOW:4:20 MINLEN:100"
    kneaddata_threads = 4
    skip_qc_abundance_estimation = true
    genome_dir_abundance_estimation = "/data/pam/team162/shared/gtdb_genomes_reps_r207/gtdb_genomes_reps_r207_genome_dir"
    sourmash_db_abundance_estimation = "/data/pam/team162/shared/sourmash_db/gtdb-rs207.genomic-reps.dna.k31.zip"
    bowtie2_samtools_threads_abundance_estimation = 4
    instrain_threads_abundance_estimation = 4
    instrain_full_output_abundance_estimation = false
    instrain_quick_profile_abundance_estimation = false
    cleanup_intermediate_files_abundance_estimation = false
    instrain_quick_profile_abundance_estimation = false
    bowtie2_samtools_only_abundance_estimation = false
    bmtagger_db_abundance_estimation = "/data/pam/software/BMTAGGER_INDEX"
    bmtagger_host_abundance_estimation = "T2T-CHM13v2.0"
    publish_host_reads_abundance_estimation = false

    //Dodgy params for now

    genome_file_abundance_estimation = "/data/pam/software/RVI_DB/viral.1.1.genomic_sorted.fna"
    precomputed_index_abundance_estimation = "/data/pam/software/RVI_DB/viral.1.1.genomic_sorted.bt2"
    sourmash_subset_abundance_estimation = false
    stb_file_abundance_estimation = "/data/pam/software/RVI_DB/viral.1.1.genomic.stb"

    //kraken2bracken params
    kraken2bracken_kraken2_db = "/lustre/scratch125/pam/teams/team216/sd28/rvi-pipeline/viral_kraken/"
    kraken2bracken_kraken2_threads = 4
    kraken2bracken_bracken_threads = 10
    kraken2bracken_kmer_len = 35  // default provided bracken2 
    kraken2bracken_read_len = 150  // ideal length of reads in sample
    kraken2bracken_classification_level = 'S'  // [Options = 'D','P','C','O','F','G','S'] - taxonomic rank to analyze for bracken2
    kraken2bracken_threshold = 10  // minimum number of reads required for a classification at the specified rank
    kraken2bracken_get_classified_reads = false

    //IRODS params
    study = null

    // LSF options
    queue_size = 50
    submit_rate_limit = '50/2min'
}

process {
    withName:JSON_PREP {
    executor = "local"
    }
    withName:BATON {
    executor = "local"
    }
    withName:JSON_PARSE {
    executor = "local"
    }
    //RETRIEVE_CRAM still uses LSF to ensure clusterOptions is used
    withName:RETRIEVE_CRAM {
    clusterOptions = "-R 'rusage[seqirods=100]'"
    }
}

// Helper functions
def inherit_generic_config() {
    config_url = params.generic_config_url ? params.generic_config_url : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    try {
        includeConfig "${config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}
