params{
    // Abundance estimation params
    // skip/enable workflow steps
    skip_qc_abundance_estimation = true
    sourmash_subset_abundance_estimation = false
    bowtie2_samtools_only_abundance_estimation = false
    instrain_quick_profile_abundance_estimation = false
    cleanup_intermediate_files_abundance_estimation = true
    // control output
    instrain_full_output_abundance_estimation = false
    publish_host_reads_abundance_estimation = false
    // reference data files for Sourmash/Bowtie2/inStrain
    genome_dir_abundance_estimation = "/data/pam/team162/shared/gtdb_genomes_reps_r207/gtdb_genomes_reps_r207_genome_dir"
    sourmash_db_abundance_estimation = "/data/pam/team162/shared/sourmash_db/gtdb-rs207.genomic-reps.dna.k31.zip"
    genome_file_abundance_estimation = ""
    precomputed_index_abundance_estimation = ""
    stb_file_abundance_estimation = "/lustre/scratch125/pam/data/software/gtdb/gtdb_genomes_reps_r207/gtdb_genomes_reps_r207.stb"
    custom_taxon_names_abundance_estimation = ""
    // reference data files for metaWRAP QC
    bmtagger_db_abundance_estimation = "/data/pam/software/BMTAGGER_INDEX"
    bmtagger_host_abundance_estimation = "T2T-CHM13v2.0"
    // runtime parameters
    bowtie2_samtools_threads_abundance_estimation = 4
    instrain_threads_abundance_estimation = 4
    instrain_profile_options = "--database-mode"
}

process{
    withName:INSTRAIN_PROFILE{
        shell = ['/bin/bash', '-u'] // omitting default option -e (errexit; see https://tldp.org/LDP/abs/html/options.html)
    }
}