params{
    // Kraken2Bracken default parameters 
    kraken2bracken_kraken2_db = "/data/pam/software/kraken2/viral_kraken/"
    kraken2bracken_kraken2_threads = 4
    kraken2bracken_bracken_threads = 10
    kraken2bracken_kmer_len = 35  // default provided bracken2 
    kraken2bracken_read_len = 150  // ideal length of reads in sample
    kraken2bracken_classification_level = 'S'  // [Options = 'D','P','C','O','F','G','S'] - taxonomic rank to analyze for bracken2
    kraken2bracken_threshold = 1  // minimum number of reads required for a classification at the specified rank
    kraken2bracken_get_classified_reads = false
}

process{
    withName:KRAKEN2{
        shell = ['/bin/bash', '-u'] // omitting default option -e (errexit; see https://tldp.org/LDP/abs/html/options.html)
    }
    withName:BRACKEN{
        shell = ['/bin/bash', '-u'] // omitting default option -e (errexit; see https://tldp.org/LDP/abs/html/options.html)
    }
}